body {
  margin: 0;
  display: flex;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

button:hover {
  border-color: rgb(30, 26, 228);
}

.todo-list {
  background-color: rgb(130, 221, 233);
  border-radius: 20px;
  min-height: 200px;
} 

.done-list {
  background-color: rgb(146, 130, 233);
  border-radius: 20px;
  min-height: 200px;
}

.todo-item{
  display: flex;
  gap: 8px;
  align-items: center;
}